@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/fonts/ClashDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset line-height for better consistency */
* {
  line-height: inherit;
}

/* Ensure consistent rendering for paragraph tags */
p {
  margin: 0;
  line-height: inherit;
}


body {
  margin: 0;
  width: 400px;
  height: 600px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

